*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para melhorar o controle de tamanhos */
}

header {
    display: flex;
    font-family: verdana;
    background-color: white;
    color: rgb(23, 172, 138);
    text-align: center;
    padding-bottom: 5px;/* Alterado de padding-bottom para padding para ajuste geral */
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0 black;
    
}

body {
    font-family:"Poppins", sans-serif;
    max-height: 100vh; /* Alterado de height para min-height para garantir que ocupe a altura total */
    background-image: url(../assets/background.jpg);
}

.imaged{
    cursor:pointer
}

img {
    width: 4%;
}

main{
    display: flex;
    justify-content: center;
    height: 70vh;
}

.main-page{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    width: 40%;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 30px 60px 0px;
}

.logout{
    display: flex;
    margin: 20px;
    margin-top:20px;
    width: 30%;
    height: 30px;
    justify-content: flex-end;
    margin-left: auto;
}

.logout-but{
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.logout-but:hover{
    background-color: rgb(180, 0, 0);
    transition: 0.3s;
}


.title-mainpage{
    margin-top: 33px;
    color: #0071bd;
    height: 37px;
}
.title-mainpage2{
    color: rgb(23, 172, 138);
}

hr{
    padding: 1.4px;
    background-color: rgb(23, 172, 138);
    width: 94%;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    
}

.cabecalho-main {
    display: flex;
    justify-content: space-between;
}

#picture__input {
    display:none
}

.picture{
    width: 150px;
    height: 150px;
    display: flex;
    margin: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 4px solid rgb(23, 172, 138);
    color: rgb(23, 172, 138);
    overflow: hidden;
}
@media (max-width: 1356px) {
    img{
        width: 10%;
    }
    header{
        width: 100%;
    }
    body{
        min-height: 100vh;
    }
    main {
        
        flex-direction: column; /* Alterar para coluna em telas menores */
        align-items: center;
        height: auto; /* Permitir altura automática */
    }
    .main-page{
        width: 90%;
    }
    .logout {
        margin-left: -70px;
    }
    .title-mainpage{
        margin-top: 73px;
    }

    .title-mainpage2{
        font-size: 40px;
    }
}

@media (max-width: 378px){
    .logout{
        margin-left: -85px;
    }
    h1{
        font-size: 25px;
    }
}
