.checkboxlist-list{
    margin: 20px;
    background-color: #fff;
    width: 40%;
    text-align: center;
    border: 2px solid rgb(23, 172, 138);
    border-radius: 8px;
}

li {
    
    list-style: none;
    margin: 30px;
    
}

a{
    text-decoration: none;
    color: rgb(23, 172, 138);
    font-weight: bold;
}

.checklist-a{
    color: white;
    padding: 10px;
    margin-bottom: 2;
    border-radius: 10px;
    background-color: #2373ec;
}

.checklist-a:hover{
    background-color: #1753ad;
    transition: 0.3s;
}


.divisoria-checklist{
    width: 80%;
    margin: 0 auto; 
}

.title-checklists{
    margin-top: 20px;
    color: rgb(23, 172, 138)
}

.checklist-b{
    color: white;
    padding: 10px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 10px;
    background-color: #2373ec;
    
}



.checklist-b:hover{
    background-color: #1753ad;
    transition: 0.3s;
}